footer{
    background-color: #222;
    padding: 16px;


    display: flex;
    text-align: center;
    justify-content: center;

}

footer span{
    font-size: 0.8em;
    font-weight: 200;
}