header{
    background-color: black;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header h1{
    font-size: 2.8em;
    font-weight: 200;
    cursor: pointer;

}
header nav{
    display: flex;
    align-items: center;

}
header nav a {
    margin-right: 1.1em;
    font-size: 1.5em;
}

header h1,a{
    color: #8301fc;
    transition: 0.2s ease-in-out;

}
header a:hover, h1:hover{
    color: #fff;
}