main{
    padding: 5%;
    display: flex;
    justify-items: center;
    justify-content: space-between;
}
/*main contant============*/
main .main-content{
    display: flex;
    flex-direction: column;
}
main .main-content h2{
    margin-bottom: 2%;
    font-size: 2.2em;
}
main .main-content .text{
    margin-bottom: 10%;
}
main .main-content .text p{
    width: 75%;
    font-size: 1.2em;
    font-weight: 300;
    line-height:1.6em ;

}

/*CARDS=============================================*/

main .techs .cards-containers{
    display: flex;
    align-items: center;
}

main .techs .cards-containers .cards{
    width: 120px;
    height: 120px;
    padding: 10px;
    background-color: #eee;
    border-radius: 8px;
    margin-right: 0.9em;
    margin-left: 0.9em;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    transition:  box-shadow 0.25s ease-in-out;
}

main .techs .cards-containers .cards img{
    width: 80%;
}
main .techs .cards-containers .cards:hover{
    box-shadow: 0px 0px 8px #8301fc;
}


/*======FIGURE=========*/
main figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main figure img{
    width: 400px;
    height: 400px;
    border-radius: 200px;


    margin-bottom: 6%;
    cursor: pointer;
    border: 1px  #8301fc solid ;
    transition: 0.2s ease-in-out;
}

main figure img:hover{
    box-shadow: 0px 0px 6px #8301fc ;
}